[Unit]
Description=Rift Daemon
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=notify
ExecStart=%h/.local/lib/rift-daemon/rift-daemon
Restart=on-failure
RestartSec=5s
RuntimeDirectory=rift-daemon
RuntimeDirectoryMode=0700
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=%h/.local/share/rift-daemon
ReadWritePaths=%t/rift-daemon
ReadWritePaths=/tmp
PrivateTmp=false
NoNewPrivileges=true

[Install]
WantedBy=default.target
